<!DOCTYPE html>
<html>

<p> Please note that some pictures won't be of dogs and nothing is ever random :)  <br /> 
		If you get "The image you are requesting does not exist" Just click the picture again! 
				<br />
		Go 
		<a href="/dogwebapp"> 
	back </a> 
	to the beginning!
</p>

</center>


</body>
</html>