<!DOCTYPE html>
<html>
<spacing1 class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
</spacing1>
<footer class="w3-container w3-padding-32 w3-white w3-center w3-large"> 

</footer>


<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-light-grey w3-center w3-large"> 
  <a href="https://www.instagram.com/v2fail"
  style="text-decoration: none; font-size: 32px"
  <i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://www.github.com/MichaelTong1"
  style="text-decoration: none; font-size: 32px"
  <i class="fa fa-github w3-hover-opacity"></i></a>
  <a href="https://www.Linkedin.com/in/MichaelTong1"
  style="text-decoration: none; font-size: 32px"
  <i class="fa fa-linkedin w3-hover-opacity"></i></a>
</footer>

</body>
</html>