
<!DOCTYPE HTML>

<div id="instafeed">
</div>

			<!-- Footer -->
				<div id="footer">



<!-- old footer was here w/ twitter blogger and instagram, see oldFooter.ejs -->



						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Any questions?</h3>
										</header>
										<p>Feel free to contact me at Michael_Tong@Outlook.com.</p>
										<ul class="icons">
											<li><a href="https://Linkedin.com/in/MichaelTong1" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>										
											<li><a href="https://Github.com/MichaelTong1" class="icon fa-github"><span class="label">GitHub</span></a></li>
											<li><a href="https://Instagram.com/v2Fail" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://Facebook.com/v2Fail" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>Made by Michael Tong</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>
		</div>

		<!-- Scripts -->
			<script src="Helios/assets/js/jquery.min.js"></script>
			<script src="Helios/assets/js/jquery.dropotron.min.js"></script>
			<script src="Helios/assets/js/jquery.scrolly.min.js"></script>
			<script src="Helios/assets/js/jquery.scrollex.min.js"></script>
			<script src="Helios/assets/js/browser.min.js"></script>
			<script src="Helios/assets/js/breakpoints.min.js"></script>
			<script src="Helios/assets/js/util.js"></script>
			<script src="Helios/assets/js/main.js"></script>

	</body>