<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Michael Tong</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="Helios/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="Helios/assets/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Welcome</a></h1>
							</header>
						</div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li>
									<a href="/">Dropdown</a>
									<ul>
										<li><a href="/dogwebapp">Do You Like Dogs? - WebApp</a></li>
										<li><a href="/foodwebapp">Food for the Eyes - WebApp</a></li>
										<li>
											<a href="#">Quick Redirects</a>
											<ul>
												<li><a href="https://LinkedIn.com/in/MichaelTong1">LinkedIn</a></li>
												<li><a href="https://Github.com/MichaelTong1">GitHub</a></li>
												<li><a href="https://Instagram.com/v2Fail">Instagram</a></li>
												<li><a href="https://Facebook.com/v2Fail">Facebook</a></li>
											</ul>
										</li>
										<li><a href="https://html5up.net/">Helios by HTML5 UP</a></li>
									</ul>
								</li>
								<li><a href="/aboutme">About Me</a></li>
								<li><a href="/myresume">Resume</a></li>
								<li><a href="/contactme">Contact Me</a></li>
							</ul>
						</nav>

				</div>