<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="Helios/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="Helios/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/aboutme" id="logo">Welcome</a></h1>
								<hr />
								<p></p>
							</header>
							<footer>
								<a href="#" class="button circled scrolly"><!-- Text here --></a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li>
									<a href="/">Dropdown</a>
									<ul>
										<li><a href="/dogwebapp">Do You Like Dogs? - WebApp</a></li>
										<li><a href="#">Drop 2</a></li>
										<li><a href="#">Drop 3</a></li>
										<li>
											<a href="#">Quick Redirects</a>
											<ul>
												<li><a href="https://LinkedIn.com/in/MichaelTong1">LinkedIn</a></li>
												<li><a href="https://Github.com/MichaelTong1">GitHub</a></li>
												<li><a href="https://Instagram.com/v2Fail">Instagram</a></li>
												<li><a href="https://Facebook.com/v2Fail">Facebook</a></li>
											</ul>
										</li>
										<li><a href="https://html5up.net/">Helios by HTML5 UP</a></li>
									</ul>
								</li>
								<li><a href="/aboutme">About Me</a></li>
								<li><a href="/myresume">Resume</a></li>
								<li><a href="/contactme">Contact Me</a></li>
							</ul>
						</nav>

				</div>

				<!-- Default Statcounter code for My Website MichaelTong.Me-->
<script type="text/javascript">
var sc_project=11917521; 
var sc_invisible=1; 
var sc_security="b81602f0"; 
var sc_https=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="http://statcounter.com/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11917521/0/b81602f0/1/" alt="Web
Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->

