<!DOCTYPE html>
<html>

<% include partials/HeliosPage %>

    <div>
  
    </p></p>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
								<h2><a href="#">About Me</a></h2>
								<p>
									<!-- text -->
								</p>
							</header>
							<a href="#" class="image featured"><img src="images/MeHoodie.jpg" width="300px" alt="" /></a>
							<p>
								Hi, my name is Michael! I'm currently pursuing my Bachelor's Degree in Computer Science at The University of Texas at Dallas. Since I will be graduating in May 2019, I am looking for job opportunities around the Dallas, Texas area. 
							</p>
							<section>
								<header>
									<h3>Where I'm Working Now</h3>
								</header>
								<p>
									I currently work as a System Analyst Student Worker at The University of Texas at Dallas for The Office of Information Technology under the Production Support Team. An average day consists of creating a forecast report for the automative jobs that will run under a program called Control-M. Afterwards, I work with my boss to continue creating PowerShell scripts that will be later used with Control-M to automate. One specific script that I worked on is converting a large number of .doc and .docx files to .pdf files, then merging them all together into one .pdf file. 
								</p>
								<p>
									I have been working here since August of 2018 and it has great so far since, I can practice solving complex problems by using PowerShell code to help out the Production Support Team. 
								</p>
							</section>
							<section>
								<header>
									<h3> </h3>
								</header>
								<p>

								</p>
							</section>
						</article>
						<hr />
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Lorem ipsum dolor sit </a></h3>
								</header>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id consequat purus. Vivamus nisi dui, vulputate accumsan mollis at, dignissim ac est. Maecenas mauris ante, varius sed nulla vel, dapibus ultrices tortor. Ut vel ullamcorper justo. Etiam quis diam eget erat varius tincidunt id a nunc
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Sed quis rhoncus placerat</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Magna laoreet et aliquam</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
						</div>
					</div>

				</div>


<% include partials/HeliosFooter %>


</body>
</html>
