<!DOCTYPE html>
<html>

<% include partials/HeliosPage %>

    <div>
  
    </p></p>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
								<h2><a href="#">About Me</a></h2>
								<p>
									<!-- text -->
								</p>
							</header>
							<a href="#" class="image me"><img src="images/MeHoodie.jpg" alt="" /></a>
							<p>
								Hi, my name is Michael! I'm currently a Tech X Professional with T-Mobile, doing my first rotation in the Richardson, TX office. 
							</p>
							<section>
								<header>
									<h3>Past Experience (August 2018 - May 2019)</h3>
								</header>
								<p>
									I was as a System Analyst Student Worker at The University of Texas at Dallas for The Office of Information Technology under the Production Support Team. An average day consisted of creating a forecast report for the automative jobs that will run under a program called Control-M. Afterwards, I worked with my boss to continue creating PowerShell scripts that will be later used with Control-M to automate. One specific script that I worked on is converting a large number of .doc and .docx files to .pdf files, then merging them all together into one .pdf file. 
								</p>
								<p>
									Collaborating with the back end of this Univeristy was very worth while. I really enjoyed my time solving complex problems by using PowerShell code to help out the Production Support Team. 
								</p>
								<header>
									<h3>Hobbies</h3>
								</header>
								<p>
									Something I really enjoy doing in my free time is dancing. It has taught me a lot about expressing yourself and it's been a great outlet for me. Whether it's a team of 10 or a team of 50, I believe that dance has helped me come out of my shell to communicate and work together to be in sync for performance. Accomplishing this common goal is always fun and I always look foward to the practices. 
								</p>
								<p>
									Additionally, I have some experience in teaching dance. This opportunity has been great to build my skills in leading my own team. Listening to others and adapting to different teaching styles has always been something I aim to improve on. 
								</p>
								<p>
									I also enjoy video games like League of Legends, Monster Hunter World, Diablo III, and Super Smash Bros. 
								</p>

					</div>

				</div>


<% include partials/HeliosFooter %>


</body>
</html>
