<!DOCTYPE html>
<html>
<% include partials/header %>

		<h1><%= title %></h1>
		<a href="/nextdoggo" >
			<img id="doggo" src=<%= url %> alt="mydoggo" 
			style="width:400px; height:fit;">
		</a>
	<p> Please note that some pictures won't be of dogs and nothing is ever random :)  <br /> 
	If you get "The image you are requesting does not exist" Just click the picture again! 
</p>
<% include partials/footer %>
</html>