<!DOCTYPE html>
<html>
<% include partials/header %>

		<h1><%= title %></h1>
		<a href="/nextfluffydoggo" >
			<img id="doggo" src=<%= url %> alt="mydoggo" 
			style="width:400px; height:fit;">
		</a>

<% include partials/backfooter %>
<% include partials/footer %>

