<!DOCTYPE html>
<html>
<title>Home Page</title>

<% include partials/HeliosHeader %>


			<!-- Banner -->
				<section id="banner" align="center">
					<header>
						<h2 >Hi. My name is <strong>Michael Tong</strong>.</h2>
						<small>
							March 10, 2019: Currently working on a new web app using Yelp API.
						</small>
						<small style="color:#cccccc">
							<br><br>
							February 19, 2019: Successfully implemented Instagram API.
							<br>
							February 14, 2019: Successfully implemented Twitter API. 
							<br>
							February 13, 2019: Website is fixed! HTTPS still does not work :/ 
							<br>
							February 11, 2019: Accidently broke the website trying to add HTTPS to my website..
							<br>
							February 4, 2019: Successfully implemented Blogger API.
							<br>
							January 23, 2019: Successfully implemented nginx. I'm currently adding Blogger, Twitter, and Instagram API to update them down below. Website is about 40% completed. 
							<br>
							January 7, 2019: Created my first blog post!
							<br>
							January 2, 2018: Trying to add MongoDB and a dynamic blog to my website.
							<br>
							December 13, 2018: Today is the day I start creating my website!
							<br>
						</small>
						<h3 align="center">
							Thanks!
						</h3>


					</header>
				</section>






<% include partials/HeliosFooter %>

</body>
</html>
