<!DOCTYPE html>
<html>
<title>Home Page</title>

<% include partials/HeliosHeader %>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. My name is <strong>Michael Tong</strong>.</h2>
						<p>
							February 13, 2019 Update: This website is 60% completed. 
						<p>
							Thanks!
						</p>


					</header>
				</section>






<% include partials/HeliosFooter %>

</body>
</html>
