<!DOCTYPE html>
<html>
<title>Home Page</title>

<% include partials/HeliosHeader %>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. My name is <strong>Michael Tong</strong>.</h2>
						<p>
							January 23, 2019 Update: I'm currently adding Twitter and Instagram API to update them in real time down below. This website is about 40% done! Feel free to check out my simple web app: Do You Like Dogs? on the Dropdown menu. 
						</p>
						<p>
							Thanks!
						</p>


					</header>
				</section>






<% include partials/HeliosFooter %>

</body>
</html>
