<!DOCTYPE html>
<html>
<title>Home Page</title>

<% include partials/HeliosHeader %>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. My name is <strong>Michael Tong</strong>.</h2>
						<p>
							December 13, 2018 Update: I'm currently working on my website! My plan is to finish it by the end of the year. You can track my progress on my GitHub or feel free to contact me at Michael_Tong@Outlook.com 
						</p>
						<p>
							January 2, 2019 Update: Trying to add MongoDB and a dynamic blog to my website. I will still be working on my website ocassionally throughout the next few weeks!
						</p>
						<p>
							January 8, 2019 Update: I ended up not using MongoDB for my website and ended up using Blogger! Why try to reinvent the wheel, right? I'm now currently working on fixing links to my blog (using Blogger API) and adding some of my photos (using Instagram API) which can be found right below this section. My social media pages should still be working, but my redirect links aren't. 
						</p>
						<p>
							Thanks!
						</p>


					</header>
				</section>






<% include partials/HeliosFooter %>

</body>
</html>
