<!DOCTYPE html>
<html>

<% include partials/header %>
<center>
		<h1><%= title %></h1>

		<link rel="shortcut icon" type="images/png" href="images/doggo1.png"/>

		<title src="/images/doggo.jpg">Random Dog Generator</title>
	<form method="POST" action ="/result" >
		<select class = "Result" name = "Result" id = "Result">
			<option value = "Yes">Yes</option>
			<option value = "No">No</option>
		</select>
		<input type="submit" value = "Submit">
	</form>
</center>





<% include partials/footer %>
