<!DOCTYPE html>
<html>
<title>Home Page</title>

<% include partials/HeliosHeader %>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. My name is <strong>Michael Tong</strong>.</h2>
						<p>
							December 13, 2018 Update: I'm currently working on my website! My plan is to finish it by the end of the year. You can track my progress on my GitHub or feel free to contact me at Michael_Tong@Outlook.com 
						</p>
						<p>
							January 2, 2018 Update: Trying to add MongoDB and a dynamic blog to my website. I will still be working on my website ocassionally throughout the next few weeks!
						</p>
						<p>
							Thanks!
						</p>

<!-- Statcounter -->
<script type="text/javascript">
var sc_project=11917521; 
var sc_invisible=1; 
var sc_security="b81602f0"; 
var sc_https=1; 
var sc_remove_link=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="//c.statcounter.com/11917521/0/b81602f0/1/" alt="Web
Analytics"></div></noscript>
<!-- End of Statcounter Code -->


					</header>
				</section>






<% include partials/HeliosFooter %>

</body>
</html>
