<!DOCTYPE html>
<html>
<title>Home Page</title>

<% include partials/HeliosHeader %>


			<!-- Banner -->
				<section id="banner" align="center">
					<header>
						<div class="container">
						<h2 >Hi. My name is <strong>Michael Tong</strong>.</h2>
						<small>
							<p style="text-align:center;">
							Full-Time Software Engineer at T-Mobile
						</p>
						</small>
					</div>


					</header>
				</section>






<% include partials/HeliosFooter %>

</body>
</html>
