<!DOCTYPE html>
<html>

<% include partials/HeliosPage %>


    <div><center>
<embed src="/pdfs/Resume.pdf" width="800px" height="1100px" />
</div></center>
    </p></p>

<% include partials/HeliosFooter %>


</body>
</html>
